parameters:
    checkMissingIterableValueType: false
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    stubFiles:
        - tests/stubs/EshopArticle.stub
        - tests/stubs/EshopArticleList.stub
        - tests/stubs/EshopBasket.stub
        - tests/stubs/EshopUser.stub
        - tests/stubs/EshopVoucher.stub
        - tests/stubs/EshopDiscount.stub
        - tests/stubs/EshopRegistry.stub
    level: max
    scanFiles:
        - vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
