services:

  _defaults:
    public: false
    autowire: true

  OxidEsales\GraphQL\Storefront\:
    resource: 'src/*'
    exclude: 'src/**/{DataType,Exception,Shop,Event,Subscriber}'
    public: true

  OxidEsales\GraphQL\Storefront\Shared\Service\NamespaceMapper:
      class: OxidEsales\GraphQL\Storefront\Shared\Service\NamespaceMapper
      tags: ['graphql_namespace_mapper']

  OxidEsales\GraphQL\Storefront\Shared\Service\PermissionProvider:
      class: OxidEsales\GraphQL\Storefront\Shared\Service\PermissionProvider
      tags: ['graphql_permission_provider']

  OxidEsales\GraphQL\Storefront\Basket\Subscriber\BasketAuthorization:
      class: OxidEsales\GraphQL\Storefront\Basket\Subscriber\BasketAuthorization
      tags: [ 'kernel.event_subscriber' ]

  OxidEsales\GraphQL\Base\Service\Authorization:
      class: OxidEsales\GraphQL\Base\Service\Authorization
      arguments:
          $permissionProviders: !tagged graphql_permission_provider
